
<form>
  <div class="form-group">
    <label>Achievements (JSON)</label>
    <textarea name="achievements" rows="10" style="width:100%">
[
  {
    "id": "firstKill",
    "label": "Primeiro Abate",
    "icon": "modules/character-achievements/icons/firstkill.png"
  },
  {
    "id": "heroicDeed",
    "label": "Feito Heroico",
    "icon": "modules/character-achievements/icons/heroicdeed.png"
  }
]
    </textarea>
    <p class="notes">Insira aqui a lista de achievements com ID, nome e ícone. Isso afeta todos os jogadores.</p>
  </div>
</form>
